@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: aliceblue;
}
#map-card{
  width: 10vw;
  border-radius: 25px;
}
.map{
  width: fit-content;
  border:5px solid #6565e1;
  border-radius: 30px;
  margin: 2rem auto;
}
.details{
  width: fit-content;
  margin: 2rem auto;
  background-color: #6464bf;
  border-radius: 15px;
  box-shadow: inset 5px -5px 20px rgba(0, 0, 0, 0.583);
  font-family: 'Arimo';
  font-style: italic;
  font-weight: bold;
  font-size: .9rem;

}
.details span{
  font-style: normal;
  font-weight: normal;

}